extends ../shared/template

block content
  h1 Node.js Help
  h2 Documentation
  ul
    li: a(href='http://nodejs.org/api/') Node.js API
    li: a(href='http://expressjs.com/4x/api.html') Express API
    li: a(href='http://docs.mongodb.org/manual/') MongoDB Manual
    li: a(href='http://mongodb.github.io/node-mongodb-native/') MongoDB Driver

  h2 ES6
  ul
    li: a(href='https://github.com/google/traceur-compiler') Traceur
    li console: traceur.options to view compiler flags

  h2 Styling
  ul
    li: a(href='http://alexwolfe.github.io/Buttons/') CSS Buttons
    li: a(href='http://qrohlf.com/trianglify/') Triangle SVG Background Image Generator
    li: a(href='http://subtlepatterns.com/') SubtlePatterns
